{% extends "layout.html" %}

{% block content %}
<div class="col-md-12">
	<div class="content-section">
    <h2>New Item in {{ categoryName }}</h2>
    <form class="newItem" action="{{url_for('add_category_item', category = categoryName)}}" method="post">
      <p>Name:</p>
      <input type ='text' size='30' name='name'>
      <p>Description:</p>
      <textarea name="description" rows="5" cols="30">Describe the {{ categoryName }} item.</textarea>
      <br><br>
      <input type='submit' value='Add'>
      <a href = '{{url_for('show_catalog')}}'> Cancel </a>
    </form>
  </div>
</div>
{% endblock content %}
